@import "tailwindcss";

:root {
  --background: #CAC5C5;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta-sans);

  /* colors */
  --color-neutral-100: #f4f4f4;
  --color-neutral-200: #dfdfdf;
  --color-neutral-300: #c9c9c9;
  --color-neutral-400: #b4b4b4;
  --color-neutral-500: #9e9e9e;
  --color-neutral-600: #898989;
  --color-neutral-700: #737373;
  --color-neutral-800: #5e5e5e;
  --color-neutral-900: #484848;
  --color-neutral-1000: #333333;

  --color-primary-100: #b5b5b5;
  --color-primary-200: #909090;
  --color-primary-300: #6b6b6b;
  --color-primary-400: #464646;
  --color-primary-500: #212121;

  --color-secondary-100: #cecece;
  --color-secondary-200: #aeaeae;
  --color-secondary-300: #8e8e8e;
  --color-secondary-400: #6d6d6d;
  --color-secondary-500: #4d4d4d;

  --color-red-100: #fb3748;
  --color-red-200: #d00416;

  --color-yellow-100: #ffdb43;
  --color-yellow-200: #dfb400;

  --color-green-100: #84ebb4;
  --color-green-200: #1fc16b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #CAC5C5;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta-sans);
}
